* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(126, 126, 126);
}

a {
  text-decoration: none;
  color: #f2ef24;
  transition: 0.5s;
}

a:hover {
  color: #c19f25;
}